{% extends "main.html" %} 
{% block title %}
Liste Produits
{% endblock %}
{% block content %}
<h2 class="form-title">Produit</h2>

<table class="table table-fluid">
    <thead>
        <tr>
            <th>Produit</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for Produit in object_list %}
        <tr>
            <td>{{ Produit }}</td>
            <td><a href="{% url "produit_detail" Produit.id %}">view</a></td>
            <td><a href="{% url "produit_update" Produit.id %}">edit</a></td>
            <td><a href="{% url "produit_delete" Produit.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url "produit_create" %}">New</a>
</div>
{% endblock %}