<h2 class="form-title">Categories</h2>

<table class="table table-fluid">
    <thead>
        <tr>
            <th>Categories</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for Categories in object_list %}
        <tr>
            <td>{{ Categories }}</td>
            <td><a href="{% url "categories_detail" Categories.id %}">view</a></td>
            <td><a href="{% url "categories_update" Categories.id %}">edit</a></td>
            <td><a href="{% url "categories_delete" Categories.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url "categories_create" %}">New</a>
</div>
