{% extends "main.html" %} 
{% block title %}
Liste Commandes
{% endblock %}
{% block content %}
<h2 class="Titre">Commande n°{{CMD.id}}</h2>
<table class="sh_commande">
    <thead>
        <tr>
            <th>Produit</th>
            <th>Quantiter</th>
            <th>Details Produit</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in items %} 
        <tr>
            <td>{{ key }}</td>
            {% for key2, value2 in value.items %} 
                {% if key2 == "Amount" %} 
                    <td>{{ value2 }}</td>
                {% endif %}
                {% if key2 == "id" %} 
                    <td><a href="/employer/produit/detail/{{value2}}/">Details</a></td>
                    <td><label for="quantiter">Quantiter:</label><form action="/employer/commandes/add/{{CMD.id}}/{{value2}}/1/" method="post"><input type="number" name="quantiter" min="1"> {% csrf_token %} <input type="submit" value="Changer"></form></td>
                    <td><a href="/employer/commandes/del/{{CMD.id}}/{{value2}}/">Delete</a></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr>
<h2>Ajout Produit</h2>
<form action="/employer/commandes/add/{{CMD.id}}/0/1/" method="post" id="form_ajout">
<select id="select-state" placeholder="Ajouter produit" name="produit" form="form_ajout">
<option value="">Selectionner Produit</option>
{% for items in shop_items %}
    <option value="{{items.id}}">{{items}} {{items.prix}}€</option>
{% endfor %}
</select>
<label for="quantiter">Quantiter:</label>
<input type="number" name="quantiter" min="1" required="required"> 
{% csrf_token %}
<br>
<input type="submit" value="Ajouter">
</form>

<h2><a href="/employer/commandes/pdf/{{CMD.id}}/" target="_new"> PDF </a><h2/>

<script>
      $(document).ready(function () {
      $('select').selectize({
          sortField: 'text'
      });
  });
</script>
{% endblock %}
