<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Espace Employer{% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <a href="#home">Menu</a>
        <div class="subnav">
          <button class="subnavbtn">About <i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="#company">Company</a>
            <a href="#team">Team</a>
            <a href="#careers">Careers</a>
          </div>
        </div> 
        <div class="subnav">
          <button class="subnavbtn">Services <i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="#bring">Bring</a>
            <a href="#deliver">Deliver</a>
            <a href="#package">Package</a>
            <a href="#express">Express</a>
          </div>
        </div> 
        <div class="subnav">
          <button class="subnavbtn">Partners <i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="#link1">Link 1</a>
            <a href="#link2">Link 2</a>
            <a href="#link3">Link 3</a>
            <a href="#link4">Link 4</a>
          </div>
        </div>
        <a href="#contact">Contact</a>
      </div>
      

    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>