<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LER Drive{% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
</head>
<body>
<header>
    <div class="navbar">
        <a href="{% url "index"%}" class="menu">Menu</a>
        <a href="/drive/sh/basket/"%}" class="menu">Mon Pannier</a>
        {% if user.is_authenticated %}
        <div class="subnav">
          <button class="subnavbtn">{{ user.get_username }}<i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="{% url "logout"%}">Logout</a>
            <a href="{% url "change_passwd_user"%}">Change Password</a>
	{% if user.is_staff %}
	    <a href="/employer/">Portail Employer</a>
	{% endif %}
          </div>
        </div>
        {% else %}
        <div class="subnav">
          <button class="subnavbtn">Account<i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="{% url "login"%}">Login</a>
          </div>
        </div>
        {% endif %}


      </div>
      <a href="{% url "index"%}">
      <h1>LER Drive</h1>
      </a>
</header>
    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>
