{% extends "main.html" %} 
{% block title %}
Liste Clients
{% endblock %}
{% block content %}
<h2 class="form-title">Clients</h2>

<table class="table table-fluid">
    <thead>
        <tr>
            <th>Clients</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for Clients in object_list %}
        <tr>
            <td>{{ Clients }}</td>
            <td><a href="{% url "clients_detail" Clients.id %}">view</a></td>
            <td><a href="{% url "clients_update" Clients.id %}">edit</a></td>
            <td><a href="{% url "clients_delete" Clients.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url "clients_create" %}">New</a>
</div>
{% endblock %}
